*{
    box-sizing: border-box;
    padding:0;
    margin:0;
  }
.lista-items{

list-style: none;
}
.item-row__container{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.item__check{
    width: 5vw;
    height: 3vh;
}
.item__boton-check{
    width: 100%;
    height: 100%;
    background-color: #B6713A;
}
.item__container{
    padding-left: 1rem;
    width: 70%;
    height: 80%;
    background-color: #B6713A;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0.4rem;
    border-bottom: #0a0908 solid;
    border-left: #0a0908 solid;
}
.item--nombre{
    width: 40%;
    color: #F2F4F3;
}
.item__input-cantidad{
    width: 50%;
    height: 50%;
    align-self: center;
    color: #F2F4F3;
    background-color:#B6713A ;
    border-top: #0a0908 solid 2px;
    border-right: #0a0908 solid 2px;
    border-left: #B6713A solid 1px;
    border-bottom: #B6713A solid 1px;
}
